@CHARSET "UTF-8";

html, body, #mapDiv {
	height: 100%;
	width: 100%;
}


#searchmapCheckbox {
	visibility: hidden;
}

#igs-alert-icon {
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

#alert-title-text {
	margin-right: 20px;
	margin-left: 5px;
	font-weight: bold;
}
